@import "@unocss/reset/tailwind-v4.css";

:root {
  color-scheme: light dark;
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
  accent-color: var(--m3c-primary);
  caret-color: var(--m3c-primary);
  interpolate-size: allow-keywords;
  --m3c-surface: light-dark(#daffec, #00120a);
  --m3c-surface-container-lowest: light-dark(#fff, #000);
  --m3c-surface-container-low: light-dark(#c1fee3, #00170f);
  --m3c-surface-container: light-dark(#b4f6d9, #001e14);
  --m3c-surface-container-high: light-dark(#aaf1d3, #00251a);
  --m3c-surface-container-highest: light-dark(#a0eccc, #002c1f);
  --m3c-on-surface: light-dark(#003627, #daffec);
  --m3c-on-surface-variant: light-dark(#326552, #81b69f);
  --m3c-outline: light-dark(#4e816c, #4c7f6b);
  --m3c-outline-variant: light-dark(#83b8a1, #1c513f);
  --m3c-inverse-surface: light-dark(#00120a, #e7fff2);
  --m3c-inverse-on-surface: light-dark(#74a891, #2b5e4b);
  --m3c-primary: light-dark(#006940, #b1ffcd);
  --m3c-on-primary: light-dark(#caffdb, #00663e);
  --m3c-primary-container: #07ffa2;
  --m3c-on-primary-container: #005c37;
  --m3c-inverse-primary: light-dark(#07ffa2, #006d42);
  --m3c-secondary: light-dark(#00684e, #65fcc8);
  --m3c-on-secondary: light-dark(#c6ffe5, #005e45);
  --m3c-secondary-container: light-dark(#65fcc8, #006c50);
  --m3c-on-secondary-container: light-dark(#005e45, #dfffef);
  --m3c-tertiary: light-dark(#00647a, #70ddff);
  --m3c-on-tertiary: light-dark(#e1f6ff, #004c5e);
  --m3c-tertiary-container: #00d2fe;
  --m3c-on-tertiary-container: #004352;
  --m3c-error: light-dark(#b31b25, #ff716c);
  --m3c-on-error: light-dark(#ffefee, #490006);
  --m3c-error-container: light-dark(#fb5151, #9f0519);
  --m3c-on-error-container: light-dark(#570008, #ffa8a3);
  --m3c-shadow: #000;
  --m3c-scrim: #000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  margin: 0;
  padding: 1rem;
}

button {
  cursor: pointer;
}
